/* Add or update the following styles in your CSS file */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
  margin: 0;
  font-family: "Lato";
  color: #333;
}

body {
  margin: 0;
  padding-top: 60px;
  background-color: lightgray;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px #F7F6F6;
}

.nav-h1 {
  color: #F7F6F6;
  margin-left: 16px;
  text-shadow: 2px 2px 4px #f14c64;;
}

.hero {
  position: relative;
  background-image: url(./images/hero_desktop.jpg);
  height: 100vh;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #f14c64;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
}

.hero-text-h1 {
  text-align: left;
  text-shadow: 2px 2px 4px #F7F6F6;
  font-size: 68px;
  font-family: 'Caveat';
  margin-bottom: 20px;
}

.hero-bullet-list {
  margin-left: 20px; 
  font-size:20px
}


.hero-text{
  text-align: left;
}

.portfolio {
  text-align: left;
  padding: 5px;
  margin: 5px;
  padding-top: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.custom-card {
  width: calc(25% - 10px);
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  font-size: smaller;
  border-radius: 10px;
  background-color: whitesmoke;
}

.custom-card img {
  max-width: 100%;
  height: auto;
}

.custom-card h4 {
  margin-bottom: 10px;
}

.custom-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px #333;
}

.custom-card hr {
  margin: 15px 0;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #F7F6F6;
  position: fixed;
  background-color: #075070;
  z-index: 1000;
  border-bottom: 2px solid #f14c64;
}


.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #f14c64;
  background-color: #075070;
  width: 100%;
}

.footer a {
  color: #F7F6F6;
}



.navbar .links {
  margin-left: auto;
  color: #F7F6F6;
}

.navbar a {
  margin-left: 0px;
  margin-right:16px;
  text-decoration: none;
  padding: 6px;
  color: #F7F6F6;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  max-width: 100%;
  margin: 10px auto;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-top: 5px;
}

.container a {
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.container a:hover {
  color: #f14c64;
}

.resume a {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.resume a:hover {
  color: #f14c64;
}

.contactForm {
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  text-decoration: none;
  padding: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

button[type="submit"]:hover {
  color: #f14c64;
}

.about {
  display: flex;
  border-top: 2px solid #f14c64;;
  padding-bottom: 40px;
  padding-top: 40px;
  align-items: center;
}

.left-content {
  flex: 1;
  padding-left: 60px;
  flex-direction: column;
}

.right-content {
  flex: 1;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 100vh;
}

.social-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #F7F6F6;
}

.social-links a:hover {
  color: #f14c64;;
}

.about img {
  border-radius: 50%;
  max-width: 60%;
}

.about p {
  margin: 10px;
  padding: 10px;
}

@media (max-width: 800px) {
  .custom-card {
    width: calc(700% - 10px);
  }
  .navbar {
    width: 100%;
    max-width: 100%;
  }

  .about {
    flex: block;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
  }

  .navbar .links {
    padding-left: 10px;
    color: #333
  }

}
