/* Add or update the following styles in your CSS file */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  font-family: "Lato";
  color: #333;
}

body {
  margin: 0;
  padding-top: 60px;
}

h2 {
  text-align: center;
}

.portfolio {
  text-align: left;
  padding: 5px;
  margin: 5px;
  padding-top: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.custom-card {
  width: calc(25% - 10px);
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  font-size: smaller;
  border-radius: 10px;
}

.custom-card img {
  max-width: 100%;
  height: auto;
}

.custom-card h4 {
  margin-bottom: 10px;
}

.custom-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px #333;
}

.custom-card hr {
  margin: 15px 0;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 900px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  position: fixed;
  background-image: linear-gradient(to right, #ba5370, #f4e2d8);
  z-index: 1000;
}


.footer {
  padding: 20px;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  border-top: 2px solid #333;
  justify-content: center;
}

.navbar h1 {
  color: #333;
}

.navbar .links {
  margin-left: auto;
  color: #333
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:#333;
}

.navbar a:hover {
  color: white;
  background-color: #ba5370;
}

.content {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-top: 5px;
}

.container a {
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.container a:hover {
  color: orange;
}

.resume a {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.resume a:hover {
  color: orange;
}

.contactForm {
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  text-decoration: none;
  padding: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

button[type="submit"]:hover {
  color: orange;
}

.about {
  display: flex;
  border-bottom: 1px solid #333;
  padding-bottom: 40px;
}

.left-content {
  flex: 1;
  padding-left: 60px;
}

.right-content {
  flex: 1;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 100vh;
}

.social-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.social-links a:hover {
  color: orange;
}

.about img {
  border-radius: 50%;
  max-width: 60%;
}

.about p {
  margin: 10px;
  padding: 10px;
}

@media (max-width: 900px) {
  .custom-card {
    width: calc(25% - 10px);
  }
  .navbar {
    width: 100%;
    max-width: 100%;
  }

  .about {
    flex: block;
  }
}
